* {
  box-sizing: border-box;
}
body {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
}


.main-container {
  width: 400px;
  height:550px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #162A00;
}

.display {
  height: 150px;
  border: 1px solid red;
  background-color: #FAFAFA;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.display-text{
 font-size: 50px;
 font-weight: bolder;
 padding: 10px;
}
.delete-btns{
  height: 100px;
  border: 1px solid yellow;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.buttons {
  display: flex;
  border: 1px solid orange;
  height:300px;
  flex-wrap: wrap;
  gap:20px;
  justify-content: center;
  align-items: center;
  align-content: center;

}
.btn{
  width: 70px;
  height: 40px;
  font-size: 20px;
  background-color: #C1E995;
}
.btn.clr{
  font-size: 15px;
  width: 150px;
}
.btn.dlt{
  font-size: 15px;
  text-align: center;
  padding: 0px;
  width: 150px;
}